/* GlobalStyles.css */
:root {
  --primary-color: rgb(232, 27, 106);
  --secondary-color: #ff5722;
  --font-size-large: 24px;
  --padding: 10px;
}

*{
  box-sizing: border-box;
}
button{
  border: none;
}
.container{
  max-width: 1400px; 
}